.container-exchange {
  max-width: 400px;
  background-color: cornflowerblue;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 100px;
}

.btn-convertir {
  align-self: center;
  padding: 0.3rem 3rem;
  border: 0.5px solid cornflowerblue;
  border-radius: 5px;
  cursor: pointer;
}

.btn-convertir:hover {
  border: 0.5px solid red;
}
