.userCard-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: cadetblue;
  color: white;
  max-width: 500px;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}

.btn-more {
  align-self: center;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap; /* 👈 permite que salten a otra línea */
  gap: 1rem; /* separación entre tarjetas */
  justify-content: center; /* centrado */
}
